
<%= form_for @album, :html => { :multipart => true } do |f| %>

  <p>
    <%= f.label :TITLE %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :DESCRIPTION %><br>
    <%= f.text_field :description %>
  </p>

 <p>
  <%= f.label :tag_list, "Tags (separated by commas)" %><br />
  <%= f.text_field :tag_list %>
 </p>
 <p>
     <%= f.file_field :photo %>
  </p>
  <p>
  	<%=f.time_select(:time_at,:default => Time.now.change(:hour => 8),:start_hour => 8, 
  						:end_hour => 20, :ampm => true)%>
  	
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>

