
<p>
  <strong>TITLE:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>DESCRIPTION:</strong>
  <%= @album.description %>
</p>
<%= image_tag @album.photo.url %>
 
<%= link_to 'Back', albums_path %><br /><%= link_to 'Add Photo to Album', new_album_picture_path(@album) %><br /><%= link_to 'Show Album', album_pictures_path(@album) %><br /><%= link_to 'Edit', edit_album_path(@album) %><br /><%= link_to 'Destroy', album_path(@album),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>

