<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag 'favicon.ico' %>
  <title>Webalbums</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h2><center>Welcome to Web Album</center></h2>
<%= render 'layouts/messages' %>
<p class='log'>

<% if user_signed_in? %>
  You are: <strong><%= current_user.email %></strong>.
  <%= link_to "Logout", destroy_user_session_path %> | <%= link_to "Change your password", edit_user_registration_path %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>
<p class='nav'>
	<% if user_signed_in? %>
	<%= link_to "View your Profile", current_user %> | <%= link_to "Albums", albums_path %> 
	<% end %>
</p>


<%= yield %>


<% if user_signed_in? %>
<p class='nav'>
Click <%= link_to "here", albums_path %> for home
</p>
<% else %>
<p class='nav'>
Created by: Ojasvi Sharma
</p>
<% end %>

</body>
</html>
